<div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="beersCtrl" ng-init="setup()">

  <h1>All Da Beers:</h1>

<div></div>

<datalist id="names">
  <option ng-repeat="beer in beers">{{ beer.name }}</option>
</datalist>

		<table class="form" style="100%">
    <tr>
		<td><h3 ng-repeat="error in errors">{{ error }}</h3></td>
    <td><h4>Name: <input type="text" ng-model="newName"></h4></td>
    <td><h4>Style: <input type="text" ng-model="newStyle"></h4></td>
    <td><h4>Hop: <input type="text" ng-model="newHope"></h4></td>
    <td><h4>Malts: <input type="text" ng-model="newMalts"></h4></td>
    <td><h4>Alcohol: <input type="text" ng-model="newAlcohol"></h4></td>
    <td><button ng-click="addBeer(newName, newStyle, newHop, newMalts, newAlcohol)">Add Beer</button></td>
    </tr>
    </table>
<h4>Search:<input ng-model="nameFilter" list="names"></h4>
<button ng-click="setOrderBy('name')">Order By Name</button>
<button ng-click="setOrderBy('alcohol')">Order By Alcohol Content</button>

    <div ng-repeat="beer in beers | filter:{name: nameFilter} | orderBy:orderAttribute:descending track by $index">
    <h2 ng-click="toggleStyleVisible(beer)">{{ beer.name }}</h2>
    <div ng-if="beer.styleVisible">
      <p>{{ beer.style }}</p>
    <p ng-click="deleteBeer($index)">Delete Beer</p>
    </div>
  </div>

      <h3>Count: {{ beer.length }} </h3>

  </div> <!-- end of ng-controller -->
</div>



