.ng-enter, .ng-move{
  -webkit-animation: jello 1s;
  -moz-animation: jello 1s;
  -o-animation: jello 1s;
  animation: jello 1s;
}

.ng-leave{
  -webkit-animation: lightSpeedOut 2s;
  -moz-animation: lightSpeedOut 2s;
  -o-animation: lightSpeedOut 2s;
  animation: lightSpeedOut 2s;
}